[submodule "third-party/ViTPose"]
	path = third-party/ViTPose
	url = https://github.com/ViTAE-Transformer/ViTPose.git
[submodule "third-party/VirtualPose"]
	path = third-party/VirtualPose
	url = https://github.com/wkom/VirtualPose.git
